:root{
  --sunnyLight: #faf0ca;
  --sunnyMedium:#e7d7a6;
  --sunnyDark: #f4d35e;
  --cloudyLight: #d9d9d9;
  --cloudyMedium: #8bb4d0;
  --cloudyDark: #494c4e;
  --chillyMedium:#8c6dc5;
  --chillyLight:#8b79d9;
  --chillyDark:#6f46a6;
  --windyMedium:#d6c49c;
  --windyLight:#c1dbaa;
  --windyDark:#6a8eae;
  --snowyLight:#caf0f8;
  --snowyMedium:#a5d6f2;
  --snowyDark:#7cb6ec;
  --drizzleLight:#f0f3bd;
  --drizzleMedium:#479a53;
  --drizzleDark:#00a896;
  --heavyrainLight:#6081a9;
  --heavyrainMedium:#566f9f;
  --heavyrainDark:#2a5379;
}
body {
  font-family: arial, sans-serif;
  background-color: aliceblue;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}

ul {
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin: 1rem;
}

.center {
  text-align: center;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
}

footer img {
  height: 50px;
  width: auto;
}

* {
  box-sizing: border-box;
}
/* Style the search field */
form.searchforuser input[type=text] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}
/*styling the button */
form.searchforuser  button{
  float: left;
  width: 10%;
  padding: 19px;
  background: #b8a66c;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.searchforuser button:hover {
  background: #a9b6c1;
}

/* Clear floats */
form.searchforuser::after {
  content: "";
  clear: both;
  display: table;
}

