
html {
  box-sizing: border-box;
}

:root {
  --code-chica-purple: #722a81;
  --code-chica-dark-purple: #4E008E;
  --code-chica-darkest-purple: #360063;
  --code-chica-dark-hover: rgba(122, 0, 223, 0.25);
  --code-chica-highlight-color: #ff6900;
  --code-chica-pink: #c81b74;
  --code-chica-pale-pink: #f78da7;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.highlight {
  color: var(--code-chica-highlight-color);
}

h1, h2, h3, h4 {
  color: var(--code-chica-purple);
}

h1 {
  text-align: center;
  font-weight: 800;
  margin: 0;
  font-size: 34px;
  line-height: 40px;
}

code {
  color: var(--code-chica-darkest-purple);
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .25px;
  padding: 1px 2px;
  position: relative;
  top: -1px;
}

label span {
  display: inline-block;
  padding: .5rem;
  margin-bottom: .5rem;
  color: var(--code-chica-darkest-purple);
  font-weight: 600;
  border-radius: 4px;
  background:
    linear-gradient(
      to right,
      var(--code-chica-purple),
      var(--code-chica-purple)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
    background-size: 100% 4px, 0 4px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

label span:hover {
  background-size: 0 4px, 100% 4px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 30px;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(180deg, var(--code-chica-dark-purple) 30%, var(--code-chica-pink) 100% );
}

.site-wrap {
  z-index: 0;
  max-width: 1000px;
  margin: 1rem auto;
  border-radius: 10px;
  background: white;
  padding: 2rem 4rem;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

ul.container li {
  width: 33%;
}

img#html-challenge {
  width: 700px;
  border: 2px solid var(--code-chica-dark-purple);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}